@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

h1{
  font-size: larger;
  font-weight: 600;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
label{
  font-size: large;
  font-weight: 500;
  color: rgb(19, 23, 135);
}
input,textarea {
  /* padding:10px;
  border-radius:10px;
  border-color: blue; */
  @apply border-2 border-gray-300 rounded-md px-2 w-full;
  @apply mb-2
}

input:focus textarea:focus{
  @apply border-gray-300;
  
}

/* btn primary */
.btn-primary{
  /* @apply bg-blue-500 text-white px-4 py-1; */
  background-color: rgb(111, 111, 245);
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
}
.btn-primary:hover{
  background-color: rgb(70, 70, 238);
  box-shadow: rgb(186, 183, 183) 1px 1px 2px 0px;
}

/* product table */
table.basic{
  @apply w-full;
}
table.basic thead tr td{
  @apply bg-slate-500 text-slate-100;
}
table.basic tr td{
  @apply border border-blue-300 p-1;
}

table.basic a{
  @apply bg-amber-600 text-white px-2 py-1 text-sm rounded-md inline-flex gap-1 mr-1;
}

table.basic a:hover{
  @apply bg-amber-400
}

/* btn */
.btn-red,.btn-default{
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: rgb(183, 183, 183) 1px 1px 0 0;
  color: white;
  padding: 10px 40px;
}
.btn-red{
  background-color: rgb(158, 15, 15);
}
.btn-default{
  background-color: rgb(98, 97, 97);
}
.btn-red:hover{
  background-color: rgb(233, 162, 162);
  color:black;
}

.btn-default:hover{
  background-color: rgb(165, 165, 165);
  color:black;
}