




/* Login */

.login_form {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;

}

.login_container {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
}

.login_btn {
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* User */
.container {
    padding: 10px;
    background-color: rgb(43, 37, 122);
    width: 100%;
    height: 100vh;
    display: flex;
}

.user_container {
    /* margin-top: 10px; */
    margin-right: 20px; 
    background-color: white;
    width: 100%;
    height: 95%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* display: flex; */
}

/* Nav */
.nav_con_admin {
    margin-right: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.nav_container {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    gap: 12px;
    color: white;
    transition: all 300ms ease;
}
.nav_container:hover{
    color: rgb(9, 9, 9);
    background-color: white;
    border-radius: 10px 0 0 10px;
    text-decoration: underline;
    margin: 1rem 0 1rem 0;
}

/* .nav_container:active {
    color: rgb(9, 9, 9);
    background-color: white;
    border-radius: 10px 0 0 10px;
} */

.nav_container_active {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    gap: 12px;
    color: white;
    transition: all 300ms ease;
    color: rgb(9, 9, 9);
    background-color: white;
    border-radius: 10px 0 0 10px;
    text-decoration: underline;
    margin: 1rem 0 1rem 0;
    
}
/* Dashboard */
.dashboard_container {
    color: rgb(69, 162, 229);
    display: flex;
    justify-content: space-between;
}

.dashboard_avt{
    align-items: center;
    background-color: rgb(158, 184, 185);
    display: flex;
    color: black;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
    padding: 10px;
}

.user_img{
    width: 60px;
    padding: 10px;
}


/* Product */
.product_add_link{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(224, 106, 106);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(221, 195, 195) 1px 1px 10px 0px;
}